.center {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.img-link {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    background: aliceblue;
}

.detect-btn {
    background-color: violet;
    width: 30%;
    height: 60px;
    margin: 0 auto;
    cursor: pointer;
}

.input {
    width: 75%;
    height: 55px;
    margin: 0 auto;
}

