nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    text-decoration: underline;
    font-weight: 700;
    cursor: pointer;
}

nav p {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right:40px;
    position: relative;
    font-size: 1.2em;
}